/* ==== HEADER ==== */

body {
  margin-top: 55px;
  font-family: proxima-nova, Raleway, Helvetica sans-serif;
  font-size: 16px;
  background: url("../img/tile.jpg") top left repeat;
}

.bg-dark {
  background-color: #132e3f !important;

}

.logo {
  height: 20px;
  width: auto;
}


h1, h2, h3, h4, h5, h6 {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-weight: bold;
}

h1 {
  font-size: 3em;
}

h1, h2 {
  margin: 0 0 40px; 
}

h3 {
  margin: 20px 0;
}

h4 {
  font-size: 18px;
}

strong {
    font-weight: 800;
}

button, input, .btn, a.btn {
   -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    color: white;
}

#hero {
    background: url(../img/hero-bg.png) no-repeat fixed;
    background-color: #51868c;
    min-height: 500px;
    background-size: 100% auto;
    padding: 40px 0;
    color: white;
    background-position: bottom right;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}

#hero article {
  width: 100%;
  text-align: center;
}

#hero .hero-text {
  margin-top: 30px;
}

#price-timeline {
  margin: 30px 0 60px;
  text-align: center;
}

#price-timeline .price {
  display: inline-block;
  margin: 0 2% 0 0;
  width: 30%;
  background: #1b435c;
  padding: 10px 20px 30px;
  position: relative;
  vertical-align: top;
}

#price-timeline .price.active {
  background: #cc6566;
}

#price-timeline .price span {
  background: white;
  color: black;
  display: block;
  height: 70px;
  width: 70px;
  text-align: center; 
  line-height: 70px;
  font-weight: bold; 
  font-size: 24px;
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  position: absolute;
  bottom: -35px;
  left: 50%;
  margin-left: -35px;
}

#price-timeline h4 {
  margin: 0 0 10px;
}

#price-timeline h4 small {
  color: white;
  font-weight: bold;
  display: block;
}

.btn {
  font-weight: bold; 
}

.btn-danger {
  background-color: #cc6566;
  border-color: #B36554; 
}

/* ==== LAYOUT ==== */

#optin {
  background: #1b435c;
  padding: 20px 0;
  color: white;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-size: 1.2em;
}

#optin p {
  margin: 7px 0 0 0 
}

.btn-success {
  background-color: #16a689;
  border-color: #128a72;
}
